<h1>
  <img src="/assets/img/burger.jpeg" alt="Burger Image">
</h1>

<h2>Eat-Da-Burger!</h2>


<textarea class="form-control" rows="3"></textarea>

<button type="submit" class="btn btn-primary">Submit</button>

<p>Enter a burger that you want to eat.</p>