<h1>
  <img src="/assets/img/burger.jpeg" alt="Burger Image">
</h1>

<h2>Eat-Da-Burger!</h2>

<div class="uneaten-burgers">
  <ol>
    {{#each burgers}} {{#unless devoured}}
    <li class="burger-item">
      {{burger_name}}
    </li>
    {{/unless}} {{/each}}
  </ol>
</div>

<button class="eat-burger" data-id="{{id}}" data-devour="true">Devour Burger</button>


<div class="eaten-burgers">
  <ol>
    {{#each burgers}} {{#if devoured}}
    <li>
      {{burger_name}}
    </li>
    {{/if}} {{/each}}
  </ol>
</div>

<textarea class="form-control" rows="3"></textarea>

<button type="submit" class="btn btn-primary add-burger">Submit</button>

<p>Enter a burger that you want to eat.</p>

<script type="text/javascript">
  $(".eat-burger").on("click", function (event) {
    var id = $(this).data("id");
    var eatenBurger = $(this).data('devour');

    var newBurgerStatus = {
      devoured: eatenBurger
    }

    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      devoured: newBurgerStatus
    }).then(
      function () {
        console.log("changed devoured to ", eatenBurger);
        location.reload();
      }
    );
  });

  $('.add-burger').on('click' function () {
    $('.uneaten-burgers').css('visibility', 'visible');

    var newBurger = {
      burger_name: $('.form-control').val().trim(),
      devoured: false
    }

    $.ajax('/api/burgers', {
      type: "POST",
      data: newBurger
    }).then(function () {
      console.log('Created new burger');
    })
  });
</script>